#experiments
exps

#dataset
/data

#results
results

#grobid
src/data/data_processing/grobid-0.6.2
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
env/
venv/
.idea/
.vscode/
*.egg
*.egg-info